@charset "UTF-8";
@font-face {
    font-family: 'Croissant';
    src: url("fontes/Super\ Croissant.ttf");
}
@font-face {
   font-family: 'Mamboe';
    src: url('fontes/Mamboe\ Trial.otf');
}
@font-face {
    font-family: 'RobotoItalico' ;
    src: url('fontes/RobotoMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('fontes/RobotoMono-VariableFont_wght.ttf');
}

*{
    margin: 0px;
    padding: 0px;


}
:root{
    --FontRoboto:'Roboto';
    --FontRobotoItalico: 'RobotoItalico';
    --fontMaboe:'Mamboe';
    --fontCroissant: 'Croissant';
    --CorVioletNoite: #301934;
    --CorVerdfosco:#D8F1A0 ;
    --CorTomate:#FE5E41;
    --CorAmarelo: #F09A18;
    --CorSelva1:#00A878;
     --CorSelva2:#084d39;
    --corCinzaChumbo:#35393C;
}


html, body{
    
    background-image: linear-gradient(to bottom, var(--CorVerdfosco), var(--CorSelva1));
    background-repeat: no-repeat;
    min-height: 100vh;

}


header{
    display: flex;
    margin: auto;
    max-width: 800vh;
    background-image: linear-gradient(to bottom, var(--CorSelva1),(--CorVerdfosco));
       

}
header >h1{
    padding-top: 20px;
    padding-left: 30px;
    color: var(--corCinzaChumbo);
    font-family: var(--fontMaboe);
    font-size: 7vw;
    display: block;
}

nav{
    background-color: ;
    display: flex;
    margin: auto;
    margin-bottom: 0px;
    padding-top: 40px;
    text-align: center;
   min-width: 10px;

}



nav > a {
    background-color:#9bda7e ;
    margin: auto;
    color:var(--corCinzaChumbo);
    font-size: 3vh;
    text-decoration: none;
    padding: 10px;
    font-family: var(--FontRoboto);
    border: 1px solid;
    border-radius:10px;
    
    
    
}

 nav  a:hover{
    background-color: #4fc9a6;
    font-size: 20px;
    
}

main{
    padding: 20px;
    width: 93%;
    height: 100vh;
    margin: auto;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.486);


}